<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AmRoMessageBox" version="1.1.8" targetFramework="net472" />
  <package id="Avalonia" version="0.8.0" targetFramework="net472" />
  <package id="Avalonia.ReactiveUI" version="0.8.0" targetFramework="net472" />
  <package id="Avalonia.Remote.Protocol" version="0.8.0" targetFramework="net472" />
  <package id="DynamicData" version="6.4.0.2419" targetFramework="net472" />
  <package id="JetBrains.Annotations" version="10.3.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="2.5.1" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net472" />
  <package id="ReactiveUI" version="9.0.1" targetFramework="net472" />
  <package id="Serilog" version="2.5.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Debug" version="1.0.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Trace" version="2.1.0" targetFramework="net472" />
  <package id="Splat" version="4.0.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net472" />
  <package id="System.Reactive.Compatibility" version="4.0.0" targetFramework="net472" />
  <package id="System.Reactive.Core" version="4.0.0" targetFramework="net472" />
  <package id="System.Reactive.Experimental" version="4.0.0" targetFramework="net472" />
  <package id="System.Reactive.Interfaces" version="4.0.0" targetFramework="net472" />
  <package id="System.Reactive.Linq" version="4.0.0" targetFramework="net472" />
  <package id="System.Reactive.PlatformServices" version="4.0.0" targetFramework="net472" />
  <package id="System.Reactive.Providers" version="4.0.0" targetFramework="net472" />
  <package id="System.Reactive.Runtime.Remoting" version="4.0.0" targetFramework="net472" />
  <package id="System.Reactive.Windows.Forms" version="4.0.0" targetFramework="net472" />
  <package id="System.Reactive.Windows.Threading" version="4.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>